<div class="card">
    <div class="card-body">
        <div>
            <h4>Cadastro de Contatos</h4>
            <hr />

            <form>

                <div class="row">
                    <div class="col-md-12">
                        <label>Nome do Contato:</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col-md-4">
                        <label>Telefone:</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label>Email:</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label>Foto:</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>

                <br />

                <input type="submit" value="Cadastrar Contato" class="btn btn-success" />

            </form>

        </div>
    </div>
</div>